.accordion { 
    width: 100%;
    color: #E0E0E0;
    background-color: #2A2A2A;
    border-radius: 2.5rem;
}


.accordion .label {
position: relative;
padding: 1rem 1.5rem 0.5rem;
font-size: 1.5rem;
color: #E0E0E0;
cursor: pointer;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.accordion .label::before {
    content: '+';
    color: #E0E0E0;
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
    transform: translateY(-50%);
  }


  .accordion .content {
    padding-left: 3rem;
    padding-right: 1rem; 
    position: relative;
    background: #808080;
    font-size: 1.1rem;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }

  .role { 
    width: 100%; 
  }

  .subRole { 
    width: 100%
  }

  .dates { 
    margin-left: auto;
  }

  .listItems { 
    list-style-type: circle; 
    padding-left: 1rem;

  }
    