.educationWrapper { 
  display: flex; 
  flex-direction: column;
  align-items: center; /* This will center the child elements */
  justify-content: center; /* This will center the .educationWrapper itself in its container */
  width: 40vw;
  margin: auto; /* This will automatically center the div within its parent */
  height: 100%; /* If you want it to take up the full height of its parent */
}

.oneEd {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  position: relative; /* Position is relative to place the pseudo-element correctly */
  padding-bottom: 2rem; /* Give some space for the line */

}

.qualification { 
  margin-bottom: .1rem; /* Provide space between this and the next element */
  font-size: 1.3rem;
  text-align: center; /* Center the text within .qualification */
}

.establishmentDateWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will put space between .establishment and .date */
  width: 100%; /* Ensure it spans the full width */
}

.establishment { 
  font-size: 1.2rem;
}

.oneEd:not(:last-child)::after {
  content: ''; /* Required for pseudo-elements */
  display: block; /* Display as block to give it width and height */
  height: 2px; /* Height of the line */
  width: 50px; /* Width of the line, adjust as necessary */
  background-color: #E0E0E0; /* Color of the line */
  margin-top: 1rem; /* Space between the line and the content above it */
  margin-bottom: 1rem; /* Space between the line and the content above it */
  position: absolute;
  bottom: 0; /* Position at the bottom of the .oneEd element */
  left: 50%; /* Start from the middle */
  transform: translateX(-50%); /* Center the line */
}
